<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <ul>
        {{#each people}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>

    <div>
        {{#each people2}}
        <p>Hello, my name is {{name}}.
            I am from {{hometown}}.
            I have {{kids.length}} kids :</p>
        <ul>
            {{#kids}}
            <li>{{name}} is {{age}} years old</li>
            {{/kids}}
        </ul>
        {{/each}}
    </div>


</body>

</html>